<div class="imaging">
  <div class="overlay"></div> <!-- Transparent layer over the background -->
  
  <div class="container text-center mt-5 content">
    <h1 class="display-3 fw-bold mb-4">Welcome to Travel Planner</h1>
    <p class="lead fw-bold mb-4">
      Plan your trips, organize itineraries, and explore the world with ease.
    </p>
    <div class="d-flex justify-content-center gap-3">
      <a routerLink="/auth/signup" class="btn btn-primary btn-lg">Get Started</a>
      <a routerLink="/auth/login" class="btn btn-outline-success btn-lg">Login</a>
    </div>
  </div>
</div>
